---
import type { Locale } from '../i18n';
import { t } from '../i18n';

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const s = t(locale);

const line1 = s.hero.tagline.split('.')[0]?.trim() ?? '';
const line2 = s.hero.tagline.split('.')[1]?.trim() ?? '';
---

<section class="relative min-h-screen overflow-hidden sm:px-6 pt-28 pb-16 lg:pt-32">
  <!-- Ambient glows -->
  <div class="pointer-events-none absolute top-[30%] left-[55%] -translate-x-1/2 -translate-y-1/2 h-[500px] w-[500px] rounded-full blur-[160px]" style="background: rgba(168,85,247,0.08)"></div>
  <div class="pointer-events-none absolute top-[45%] left-[35%] -translate-x-1/2 -translate-y-1/2 h-[400px] w-[400px] rounded-full blur-[180px]" style="background: rgba(96,120,250,0.06)"></div>
  <div class="pointer-events-none absolute top-[20%] left-[70%] -translate-x-1/2 -translate-y-1/2 h-[350px] w-[350px] rounded-full blur-[140px]" style="background: rgba(139,92,246,0.07)"></div>
  <div class="pointer-events-none absolute top-[60%] left-[60%] -translate-x-1/2 -translate-y-1/2 h-[300px] w-[300px] rounded-full blur-[120px]" style="background: rgba(79,70,229,0.06)"></div>

  <!-- Circuit schematic decoration (GSAP animated) -->
  <svg id="deco-svg" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMid slice" aria-hidden="true" class="pointer-events-none absolute inset-0 h-full w-full">
    <g id="HeroSVG">
      <g id="ChipVM">
        <path id="ChipExt" d="M1600 576L1344 832L1088 576L1344 320L1600 576Z"/>
        <path id="ChipInt" d="M1539.05 576L1344 768L1152 576L1344 384L1539.05 576Z"/>
        <path id="VmText" d="M1270.96 568L1263.12 542.872H1267.11L1272.4 559.36L1273.77 564.796L1275.1 559.396L1280.43 542.872H1284.32L1276.47 568H1270.96ZM1295.21 568V542.872H1299.02V568H1295.21ZM1288.91 542.872H1305.29V546.112H1288.91V542.872ZM1288.91 564.76H1305.29V568H1288.91V564.76ZM1314.62 557.488V554.248H1321C1322.05 554.248 1322.98 554.08 1323.77 553.744C1324.58 553.384 1325.22 552.88 1325.68 552.232C1326.16 551.584 1326.4 550.84 1326.4 550C1326.4 549.184 1326.19 548.488 1325.78 547.912C1325.38 547.336 1324.82 546.892 1324.13 546.58C1323.43 546.268 1322.65 546.112 1321.79 546.112H1314.62V542.872H1321.79C1323.44 542.872 1324.92 543.16 1326.22 543.736C1327.51 544.288 1328.53 545.092 1329.28 546.148C1330.02 547.204 1330.39 548.488 1330.39 550C1330.39 550.96 1330.16 551.884 1329.71 552.772C1329.28 553.66 1328.64 554.464 1327.8 555.184C1326.98 555.88 1325.99 556.444 1324.81 556.876C1323.64 557.284 1322.3 557.488 1320.82 557.488H1314.62ZM1311.89 568V542.872H1315.7V568H1311.89ZM1326.32 568C1326.18 566.872 1325.87 565.756 1325.39 564.652C1324.93 563.548 1324.31 562.492 1323.52 561.484C1322.72 560.476 1321.74 559.54 1320.56 558.676C1319.41 557.812 1318.07 557.032 1316.53 556.336L1320.78 555.4C1322.36 556.192 1323.72 557.08 1324.85 558.064C1326 559.024 1326.95 560.044 1327.69 561.124C1328.46 562.204 1329.04 563.32 1329.42 564.472C1329.83 565.624 1330.09 566.8 1330.21 568H1326.32ZM1342.03 568V546.112H1333.93V542.872H1353.95V546.112H1345.85V568H1342.03ZM1367.39 568.432C1365.42 568.432 1363.71 568.048 1362.24 567.28C1360.78 566.488 1359.64 565.396 1358.82 564.004C1358.01 562.588 1357.6 560.944 1357.6 559.072V542.872H1361.45V559.072C1361.45 560.296 1361.69 561.364 1362.17 562.276C1362.68 563.188 1363.37 563.896 1364.26 564.4C1365.15 564.904 1366.19 565.156 1367.39 565.156C1368.59 565.156 1369.62 564.904 1370.49 564.4C1371.38 563.896 1372.06 563.188 1372.54 562.276C1373.04 561.364 1373.3 560.296 1373.3 559.072V542.872H1377.15V559.072C1377.15 560.944 1376.74 562.588 1375.92 564.004C1375.11 565.396 1373.97 566.488 1372.5 567.28C1371.06 568.048 1369.36 568.432 1367.39 568.432ZM1384 561.664V558.424H1397.93V561.664H1384ZM1388.03 542.872H1393.51L1401.28 568H1397.36L1392.28 551.368L1390.77 545.86L1389.26 551.404L1384.11 568H1380.26L1388.03 542.872ZM1406.44 568V542.872H1410.26V564.76H1423.44V568H1406.44ZM1262.94 610L1264.81 584.872H1269.81L1273.02 599.74L1273.77 604.636L1274.56 599.74L1277.7 584.872H1282.63L1284.54 610H1280.76L1279.93 594.268L1279.78 588.724L1278.7 594.268L1275.28 610H1272.04L1268.66 594.268L1267.65 588.652L1267.44 594.268L1266.64 610H1262.94ZM1290.35 603.664V600.424H1304.28V603.664H1290.35ZM1294.38 584.872H1299.85L1307.63 610H1303.7L1298.63 593.368L1297.11 587.86L1295.6 593.404L1290.45 610H1286.6L1294.38 584.872ZM1320.96 610.432C1318.75 610.432 1316.83 609.88 1315.2 608.776C1313.59 607.648 1312.34 606.112 1311.46 604.168C1310.59 602.2 1310.16 599.944 1310.16 597.4C1310.16 594.76 1310.62 592.468 1311.53 590.524C1312.44 588.58 1313.71 587.08 1315.34 586.024C1317 584.968 1318.92 584.44 1321.1 584.44C1322.86 584.44 1324.44 584.788 1325.86 585.484C1327.3 586.156 1328.46 587.14 1329.35 588.436C1330.26 589.708 1330.79 591.232 1330.93 593.008H1326.76C1326.56 591.4 1325.96 590.116 1324.96 589.156C1323.95 588.172 1322.65 587.68 1321.07 587.68C1319.7 587.68 1318.49 588.076 1317.43 588.868C1316.4 589.636 1315.6 590.752 1315.02 592.216C1314.44 593.68 1314.16 595.42 1314.16 597.436C1314.16 599.452 1314.44 601.192 1315.02 602.656C1315.62 604.12 1316.44 605.248 1317.47 606.04C1318.5 606.808 1319.66 607.192 1320.96 607.192C1322.09 607.192 1323.07 606.964 1323.91 606.508C1324.75 606.028 1325.42 605.368 1325.93 604.528C1326.46 603.688 1326.77 602.704 1326.86 601.576H1331.08C1330.91 603.352 1330.39 604.912 1329.53 606.256C1328.66 607.576 1327.5 608.608 1326.04 609.352C1324.6 610.072 1322.9 610.432 1320.96 610.432ZM1349.49 610V584.872H1353.3V610H1349.49ZM1334.62 610V584.872H1338.43V610H1334.62ZM1337.89 598.588V595.348H1349.99V598.588H1337.89ZM1365.45 610V584.872H1369.26V610H1365.45ZM1359.15 584.872H1375.53V588.112H1359.15V584.872ZM1359.15 606.76H1375.53V610H1359.15V606.76ZM1381.48 610V584.872H1386.23L1396.71 605.032L1396.42 597.256V584.872H1400.09V610H1395.38L1384.83 590.056L1385.15 597.58V610H1381.48ZM1405.47 610V584.872H1423.51V588.112H1409.29V595.348H1419.08V598.588H1409.29V606.76H1423.65V610H1405.47Z"/>
      </g>
      <g id="ChipCompiler">
        <path id="CompilerBorder" d="M1152 768L1024 640L896 768L1024 896L1152 768Z"/>
        <path id="CompilerText" d="M942.132 781.432C939.924 781.432 938.004 780.88 936.372 779.776C934.764 778.648 933.516 777.112 932.628 775.168C931.764 773.2 931.332 770.944 931.332 768.4C931.332 765.76 931.788 763.468 932.7 761.524C933.612 759.58 934.884 758.08 936.516 757.024C938.172 755.968 940.092 755.44 942.276 755.44C944.028 755.44 945.612 755.788 947.028 756.484C948.468 757.156 949.632 758.14 950.52 759.436C951.432 760.708 951.96 762.232 952.104 764.008H947.928C947.736 762.4 947.136 761.116 946.128 760.156C945.12 759.172 943.824 758.68 942.24 758.68C940.872 758.68 939.66 759.076 938.604 759.868C937.572 760.636 936.768 761.752 936.192 763.216C935.616 764.68 935.328 766.42 935.328 768.436C935.328 770.452 935.616 772.192 936.192 773.656C936.792 775.12 937.608 776.248 938.64 777.04C939.672 777.808 940.836 778.192 942.132 778.192C943.26 778.192 944.244 777.964 945.084 777.508C945.924 777.028 946.596 776.368 947.1 775.528C947.628 774.688 947.94 773.704 948.036 772.576H952.248C952.08 774.352 951.564 775.912 950.7 777.256C949.836 778.576 948.672 779.608 947.208 780.352C945.768 781.072 944.076 781.432 942.132 781.432ZM965.15 781.432C963.014 781.432 961.154 780.904 959.57 779.848C957.986 778.768 956.75 777.256 955.862 775.312C954.998 773.368 954.566 771.076 954.566 768.436C954.566 765.772 954.998 763.468 955.862 761.524C956.75 759.58 957.986 758.08 959.57 757.024C961.154 755.968 963.014 755.44 965.15 755.44C967.286 755.44 969.146 755.968 970.73 757.024C972.314 758.08 973.538 759.58 974.402 761.524C975.29 763.468 975.734 765.772 975.734 768.436C975.734 771.076 975.29 773.368 974.402 775.312C973.538 777.256 972.314 778.768 970.73 779.848C969.146 780.904 967.286 781.432 965.15 781.432ZM965.15 778.192C966.47 778.192 967.622 777.796 968.606 777.004C969.59 776.212 970.358 775.084 970.91 773.62C971.462 772.156 971.738 770.428 971.738 768.436C971.738 766.42 971.462 764.692 970.91 763.252C970.358 761.788 969.59 760.66 968.606 759.868C967.622 759.076 966.47 758.68 965.15 758.68C963.854 758.68 962.702 759.076 961.694 759.868C960.71 760.66 959.942 761.788 959.39 763.252C958.838 764.716 958.562 766.444 958.562 768.436C958.562 770.428 958.838 772.156 959.39 773.62C959.942 775.084 960.71 776.212 961.694 777.004C962.702 777.796 963.854 778.192 965.15 778.192ZM977.764 781L979.636 755.872H984.64L987.844 770.74L988.6 775.636L989.392 770.74L992.524 755.872H997.456L999.364 781H995.584L994.756 765.268L994.612 759.724L993.532 765.268L990.112 781H986.872L983.488 765.268L982.48 759.652L982.264 765.268L981.472 781H977.764ZM1005.89 771.82V768.58H1012.45C1014.05 768.58 1015.35 768.136 1016.33 767.248C1017.32 766.36 1017.81 765.196 1017.81 763.756C1017.81 762.364 1017.35 761.248 1016.44 760.408C1015.53 759.544 1014.32 759.112 1012.81 759.112H1005.89V755.872H1012.81C1014.63 755.872 1016.21 756.196 1017.56 756.844C1018.9 757.492 1019.95 758.404 1020.69 759.58C1021.43 760.756 1021.81 762.148 1021.81 763.756C1021.81 765.364 1021.42 766.78 1020.65 768.004C1019.89 769.204 1018.79 770.14 1017.38 770.812C1015.99 771.484 1014.35 771.82 1012.48 771.82H1005.89ZM1003.16 781V755.872H1006.97V781H1003.16ZM1033.45 781V755.872H1037.26V781H1033.45ZM1027.15 755.872H1043.53V759.112H1027.15V755.872ZM1027.15 777.76H1043.53V781H1027.15V777.76ZM1051.03 781V755.872H1054.85V777.76H1068.02V781H1051.03ZM1073.47 781V755.872H1091.51V759.112H1077.29V766.348H1087.08V769.588H1077.29V777.76H1091.65V781H1073.47ZM1099.69 770.488V767.248H1106.07C1107.12 767.248 1108.05 767.08 1108.84 766.744C1109.65 766.384 1110.29 765.88 1110.75 765.232C1111.23 764.584 1111.47 763.84 1111.47 763C1111.47 762.184 1111.26 761.488 1110.85 760.912C1110.45 760.336 1109.89 759.892 1109.2 759.58C1108.5 759.268 1107.72 759.112 1106.86 759.112H1099.69V755.872H1106.86C1108.51 755.872 1109.99 756.16 1111.29 756.736C1112.58 757.288 1113.6 758.092 1114.35 759.148C1115.09 760.204 1115.46 761.488 1115.46 763C1115.46 763.96 1115.23 764.884 1114.78 765.772C1114.35 766.66 1113.71 767.464 1112.87 768.184C1112.05 768.88 1111.06 769.444 1109.88 769.876C1108.71 770.284 1107.37 770.488 1105.89 770.488H1099.69ZM1096.96 781V755.872H1100.77V781H1096.96ZM1111.39 781C1111.25 779.872 1110.94 778.756 1110.46 777.652C1110 776.548 1109.38 775.492 1108.59 774.484C1107.79 773.476 1106.81 772.54 1105.63 771.676C1104.48 770.812 1103.14 770.032 1101.6 769.336L1105.85 768.4C1107.43 769.192 1108.79 770.08 1109.92 771.064C1111.07 772.024 1112.02 773.044 1112.76 774.124C1113.53 775.204 1114.11 776.32 1114.49 777.472C1114.9 778.624 1115.16 779.8 1115.28 781H1111.39Z"/>
      </g>
      <g id="ChipBackend">
        <path id="ChipMini3" d="M1472 128L1344 256L1216 128L1344 2.9966L1472 128Z"/>
        <path id="BackendText" d="M1278.67 129.322C1279.58 129.586 1280.38 129.982 1281.08 130.51C1281.8 131.038 1282.36 131.722 1282.77 132.562C1283.2 133.378 1283.42 134.338 1283.42 135.442C1283.42 136.858 1283.06 138.094 1282.34 139.15C1281.64 140.206 1280.65 141.034 1279.35 141.634C1278.06 142.21 1276.52 142.498 1274.74 142.498H1265.02V117.37H1274.38C1277.02 117.37 1279.09 117.946 1280.58 119.098C1282.06 120.25 1282.81 121.762 1282.81 123.634C1282.81 124.522 1282.64 125.35 1282.3 126.118C1281.99 126.886 1281.52 127.546 1280.9 128.098C1280.28 128.65 1279.53 129.058 1278.67 129.322ZM1274.2 120.61H1268.84V128.026H1274.2C1275.62 128.026 1276.74 127.678 1277.55 126.982C1278.39 126.286 1278.81 125.362 1278.81 124.21C1278.81 123.082 1278.39 122.206 1277.55 121.582C1276.71 120.934 1275.6 120.61 1274.2 120.61ZM1268.84 139.258H1274.67C1276.14 139.258 1277.29 138.898 1278.13 138.178C1278.99 137.458 1279.42 136.486 1279.42 135.262C1279.42 133.99 1278.97 133.006 1278.06 132.31C1277.17 131.614 1275.92 131.266 1274.31 131.266H1268.84V139.258ZM1290.35 136.162V132.922H1304.28V136.162H1290.35ZM1294.38 117.37H1299.85L1307.63 142.498H1303.7L1298.63 125.866L1297.11 120.358L1295.6 125.902L1290.45 142.498H1286.6L1294.38 117.37ZM1320.96 142.93C1318.75 142.93 1316.83 142.378 1315.2 141.274C1313.59 140.146 1312.34 138.61 1311.46 136.666C1310.59 134.698 1310.16 132.442 1310.16 129.898C1310.16 127.258 1310.62 124.966 1311.53 123.022C1312.44 121.078 1313.71 119.578 1315.34 118.522C1317 117.466 1318.92 116.938 1321.1 116.938C1322.86 116.938 1324.44 117.286 1325.86 117.982C1327.3 118.654 1328.46 119.638 1329.35 120.934C1330.26 122.206 1330.79 123.73 1330.93 125.506H1326.76C1326.56 123.898 1325.96 122.614 1324.96 121.654C1323.95 120.67 1322.65 120.178 1321.07 120.178C1319.7 120.178 1318.49 120.574 1317.43 121.366C1316.4 122.134 1315.6 123.25 1315.02 124.714C1314.44 126.178 1314.16 127.918 1314.16 129.934C1314.16 131.95 1314.44 133.69 1315.02 135.154C1315.62 136.618 1316.44 137.746 1317.47 138.538C1318.5 139.306 1319.66 139.69 1320.96 139.69C1322.09 139.69 1323.07 139.462 1323.91 139.006C1324.75 138.526 1325.42 137.866 1325.93 137.026C1326.46 136.186 1326.77 135.202 1326.86 134.074H1331.08C1330.91 135.85 1330.39 137.41 1329.53 138.754C1328.66 140.074 1327.5 141.106 1326.04 141.85C1324.6 142.57 1322.9 142.93 1320.96 142.93ZM1335.09 142.498V117.37H1338.9V123.85L1338.65 128.674L1342.25 124.57L1349.05 117.37H1353.81L1338.9 133.57V142.498H1335.09ZM1350.1 142.498L1340.77 128.422L1343.98 126.442L1354.67 142.498H1350.1ZM1358.64 142.498V117.37H1376.68V120.61H1362.46V127.846H1372.25V131.086H1362.46V139.258H1376.82V142.498H1358.64ZM1381.48 142.498V117.37H1386.23L1396.71 137.53L1396.42 129.754V117.37H1400.09V142.498H1395.38L1384.83 122.554L1385.15 130.078V142.498H1381.48ZM1404.97 142.498V117.37H1412.71C1414.53 117.37 1416.18 117.67 1417.64 118.27C1419.1 118.846 1420.35 119.686 1421.38 120.79C1422.42 121.87 1423.21 123.178 1423.76 124.714C1424.31 126.25 1424.59 127.966 1424.59 129.862C1424.59 131.782 1424.31 133.522 1423.76 135.082C1423.21 136.618 1422.42 137.95 1421.38 139.078C1420.35 140.182 1419.1 141.034 1417.64 141.634C1416.18 142.21 1414.53 142.498 1412.71 142.498H1404.97ZM1408.78 139.258H1412.71C1414.34 139.258 1415.74 138.874 1416.92 138.106C1418.1 137.314 1419 136.21 1419.62 134.794C1420.27 133.378 1420.59 131.734 1420.59 129.862C1420.59 127.966 1420.27 126.334 1419.62 124.966C1419 123.574 1418.1 122.506 1416.92 121.762C1415.74 120.994 1414.34 120.61 1412.71 120.61H1408.78V139.258Z"/>
      </g>
      <path id="ChipDeco1" d="M1664 384L1728 448L1792 384L1728 320L1664 384Z"/>
      <path id="ChipInput" d="M0 640L128 768L0 896"/>
      <g id="OutputBusFromVM1">
        <path d="M1360 816L1424 880V1080"/><path d="M1376 800L1440 864V1080"/><path d="M1392 784L1456 848V1040L1496 1080"/><path d="M1408 768L1472 832V1024L1528 1080"/><path d="M1424 752L1488 816V1008L1552 1072H1664"/>
      </g>
      <g id="OutputBusFromVM2">
        <path d="M1440 736L1504 800H1568L1600 832V1024L1632 1056H1680"/><path d="M1456 720L1520 784H1584L1616 816V1008L1648 1040H1696"/><path d="M1472 704L1536 768H1600L1632 800V992L1664 1024H1712"/><path d="M1488 688L1552 752H1616L1648 784V976L1680 1008H1728"/><path d="M1504 672L1568 736H1632L1664 768H1728L1760 800V1008L1688 1080"/><path d="M1520 656L1584 720H1648L1680 752H1744L1776 784V1024L1720 1080"/><path d="M1536 640L1600 704H1664L1696 736H1760L1792 768V1040L1752 1080"/><path d="M1552 624L1616 688H1680L1712 720H1776L1808 752V1040L1856 1080"/><path d="M1568 608L1632 672H1696L1728 704H1792L1824 736V1024L1872 1064H1920"/><path d="M1584 592L1648 656H1712L1744 688H1808L1840 720V1008L1888 1048H1920"/>
      </g>
      <g id="OutputBusFromVM3">
        <path d="M1584 560L1680 464H1744L1808 400H1920"/><path d="M1568 544L1664 448H1696L1712 432"/><path d="M1552 528L1648 432H1680L1696 416"/><path d="M1536 512L1632 416H1664L1680 400"/><path d="M1520 496L1728 288H1920"/><path d="M1504 480L1712 272V208L1744 176H1920"/><path d="M1488 464L1696 256V192L1728 160H1920"/><path d="M1472 448L1680 240V176L1712 144H1920"/><path d="M1456 432L1664 224V160L1632 128V0"/><path d="M1440 416L1648 208V176L1616 144V0"/><path d="M1424 400L1600 224V0"/><path d="M1408 384L1584 208V0"/><path d="M1392 368L1568 192V0"/><path d="M1376 352L1552 176V80L1472 0"/><path d="M1360 336L1536 160V96L1440 0"/><path d="M1920 128H1696L1664 96V0"/><path d="M1680 144L1648 112V0"/><path d="M1680 0V80L1712 112H1920"/>
      </g>
      <g id="OutputBusFromChipDeco">
        <path d="M1776 368L1808 336H1920"/><path d="M1760 352L1792 320H1920"/><path d="M1744 336L1776 304H1920"/>
      </g>
      <g id="InputToVMFromBackend">
        <path d="M1328 336L1296 304V272L1328 240"/><path d="M1312 352L1280 320V256L1312 224"/><path d="M1296 368L1264 336V240L1296 208"/>
      </g>
      <g id="InputToBackendFromVm">
        <path d="M1280 384L1248 352V224L1280 192"/><path d="M1264 400L1232 368V208L1264 176"/><path d="M1248 416L1216 384V192L1248 160"/><path d="M1232 432L1200 400V176L1232 144"/>
      </g>
      <g id="InputToVmFromCompiler">
        <path d="M1104 592L1040 656"/><path d="M1120 608L1056 672"/><path d="M1136 624L1072 688"/><path d="M1152 640L1088 704"/><path d="M1168 656L1104 720"/><path d="M1184 672L1120 736"/><path d="M1200 688L1136 752"/><path d="M1136 784L1168 816H1232L1280 768"/><path d="M1120 800L1152 832H1248L1296 784"/><path d="M1104 816L1136 848H1264L1312 800"/><path d="M1088 832L1120 864H1280L1328 816"/>
      </g>
      <g id="WiresFromCompiler">
        <path d="M1072 848L1104 880V1080"/><path d="M1056 864L1088 896V1080"/><path d="M1040 880L1072 912V1080"/><path d="M1136 880L1120 896V1080H1408V896L1392 880H1136Z"/><path d="M1152 896L1136 912V1064H1392V912L1376 896H1152Z"/><path d="M1168 912L1152 928V1048H1376V928L1360 912H1168Z"/>
      </g>
      <g id="InputToCompilerFromSource">
        <path d="M112 784L208 880H816L912 784"/><path d="M96 800L192 896H832L928 800"/><path d="M80 816L176 912H848L944 816"/><path d="M64 832L160 928H864L960 832"/><path d="M48 848L144 944H880L976 848"/><path d="M32 864L128 960H896L992 864"/><path d="M16 880L112 976H912L1008 880"/>
      </g>
    </g>
  </svg>

  <!-- Main frame -->
  <div class="relative mx-auto max-w-7xl border border-subtle/30 grid grid-cols-1 lg:grid-cols-[1fr_0.85fr]">

    <!-- Extending lines (desktop only) -->
    <div class="hidden lg:block absolute top-0 right-full w-[20vw] h-px border-t border-dashed border-subtle/20"></div>
    <div class="hidden lg:block absolute top-0 left-full w-[20vw] h-px border-t border-dashed border-subtle/20"></div>
    <div class="hidden lg:block absolute bottom-0 right-full w-[20vw] h-px border-t border-dashed border-subtle/20"></div>
    <div class="hidden lg:block absolute bottom-0 left-full w-[20vw] h-px border-t border-dashed border-subtle/20"></div>

    <!-- Corner nodes -->
    <div class="corner-node absolute -top-1 -left-1"></div>
    <div class="corner-node absolute -top-1 -right-1"></div>
    <div class="corner-node absolute -bottom-1 -left-1"></div>
    <div class="corner-node absolute -bottom-1 -right-1"></div>
    <!-- Divisor intersection nodes (desktop) -->
    <div class="corner-node hidden lg:block absolute -top-1" style="left: calc(1 / 1.85 * 100% - 4px)"></div>
    <div class="corner-node hidden lg:block absolute -bottom-1" style="left: calc(1 / 1.85 * 100% - 4px)"></div>

    <!-- Label: .witness -->
    <span class="absolute top-0 left-8 -translate-y-1/2 bg-void px-3 text-[10px] uppercase tracking-[0.2em] text-text-muted font-medium">.witness</span>
    <!-- Label: .circuit (desktop: on top border right half, mobile: on divider) -->
    <span class="hidden lg:inline absolute top-0 -translate-y-1/2 bg-void px-3 text-[10px] uppercase tracking-[0.2em] text-text-muted font-medium" style="left: calc(1 / 1.85 * 100% + 24px)">.circuit</span>

    <!-- Left column: text -->
    <div class="border-b border-subtle/30 lg:border-b-0 lg:border-r lg:border-subtle/30 p-5 sm:p-8 lg:p-12 relative">
      <!-- Mobile .circuit label (on divider) -->
      <span class="lg:hidden absolute bottom-0 left-8 translate-y-1/2 bg-void px-3 text-[10px] uppercase tracking-[0.2em] text-text-muted font-medium z-10">.circuit</span>

      <!-- Badge -->
      <div class="reveal mb-8 inline-flex items-center gap-2 rounded-full border border-subtle bg-surface/80 px-4 py-1.5 text-xs text-text-secondary backdrop-blur-sm">
        <span class="inline-block h-1.5 w-1.5 rounded-full bg-valid animate-pulse"></span>
        v0.1.0-beta.1
        <span class="text-text-muted">|</span>
        <span class="text-text-muted">{s.hero.betaLabel}</span>
      </div>

      <!-- Tagline -->
      <h1 class="reveal">
        <span class="hero-line block text-4xl font-medium leading-[1.1] tracking-tight text-text-secondary sm:text-5xl md:text-6xl">{line1}.</span>
        <span class="hero-line gradient-text block mt-3 text-5xl font-bold leading-[1.1] tracking-tight sm:text-6xl md:text-7xl lg:text-8xl">{line2}.</span>
      </h1>

      <!-- Subtitle -->
      <p class="reveal mt-8 max-w-lg text-base leading-relaxed text-text-secondary sm:text-lg">
        {s.hero.subtitle}
      </p>

      <!-- CTAs -->
      <div class="reveal mt-10 flex flex-col gap-4 sm:flex-row">
        <a
          href="https://github.com/achronyme/achronyme/releases"
          target="_blank"
          rel="noopener noreferrer"
          class="group relative inline-flex items-center gap-2 overflow-hidden rounded-[10px] bg-proof px-8 py-4 text-base font-medium text-white transition-all hover:shadow-[0_0_30px_rgba(139,92,246,0.3)]"
        >
          <span class="relative z-10">{s.hero.cta}</span>
          <svg class="relative z-10 h-4 w-4 transition-transform group-hover:translate-x-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
          </svg>
          <div class="absolute inset-0 bg-gradient-to-r from-proof-dim to-proof opacity-0 transition-opacity group-hover:opacity-100"></div>
        </a>
        <a
          href="https://github.com/achronyme/achronyme"
          target="_blank"
          rel="noopener noreferrer"
          class="group inline-flex items-center gap-2 rounded-[10px] border border-subtle bg-surface/50 px-8 py-4 text-base font-medium text-text-secondary backdrop-blur-sm transition-all hover:border-proof/30 hover:text-text-primary hover:shadow-[0_0_20px_rgba(139,92,246,0.08)]"
        >
          <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z" />
          </svg>
          {s.hero.github}
        </a>
      </div>
    </div>

    <!-- Right column: terminal -->
    <div class="p-5 sm:p-8 lg:p-12 flex items-center">
      <div class="reveal w-full">
        <div class="relative overflow-hidden rounded-[14px] border border-subtle bg-surface/90 backdrop-blur-sm">
          <!-- Window chrome -->
          <div class="flex items-center gap-2 border-b border-subtle px-4 py-3">
            <span class="h-2.5 w-2.5 rounded-full bg-error/60"></span>
            <span class="h-2.5 w-2.5 rounded-full bg-warn/60"></span>
            <span class="h-2.5 w-2.5 rounded-full bg-valid/60"></span>
            <span class="ml-3 text-xs text-text-muted">commitment.ach</span>
          </div>

          <!-- Code area (min-h reserves space for 11 lines to prevent layout shift) -->
          <div class="flex overflow-x-auto min-h-[280px]">
            <div id="hero-line-numbers" class="flex-none select-none border-r border-subtle py-5 pl-4 pr-3 text-right text-[13px] leading-relaxed text-text-muted/50 hidden sm:block">
            </div>
            <pre id="hero-code" class="flex-1 py-5 pl-4 pr-5 text-[13px] leading-relaxed"><code></code></pre>
          </div>

          <!-- Output area (hidden initially) -->
          <div id="hero-output" class="border-t border-subtle px-5 py-3 text-[13px] opacity-0 transition-opacity duration-700">
            <span class="text-text-muted">&gt;</span>
            <span class="text-valid ml-1">{s.hero.proofVerified} &#10003;</span>
            <span class="text-text-muted ml-1">{s.hero.proofMeta}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* Hero line reveal */
  .hero-line {
    opacity: 0;
    transform: translateY(20px);
    animation: line-reveal 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  .hero-line:nth-child(2) {
    animation-delay: 0.15s;
  }
  @keyframes line-reveal {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* SVG circuit theming */
  #deco-svg path {
    stroke: rgba(168, 85, 247, 0.18);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
  #deco-svg #ChipExt,
  #deco-svg #ChipInt {
    stroke: rgba(168, 85, 247, 0.35);
    stroke-width: 1.5;
  }
  #deco-svg #CompilerBorder,
  #deco-svg #ChipMini3 {
    stroke: rgba(168, 85, 247, 0.28);
    stroke-width: 1.5;
  }
  #deco-svg #ChipDeco1,
  #deco-svg #ChipInput {
    stroke: rgba(168, 85, 247, 0.24);
    stroke-width: 1.5;
  }
  #deco-svg #VmText,
  #deco-svg #CompilerText,
  #deco-svg #BackendText {
    fill: rgba(168, 85, 247, 0.10);
    stroke: none;
  }
  @media (max-width: 639px) {
    #deco-svg path {
      stroke: rgba(168, 85, 247, 0.28);
    }
    #deco-svg #ChipExt,
    #deco-svg #ChipInt {
      stroke: rgba(168, 85, 247, 0.50);
    }
    #deco-svg #CompilerBorder,
    #deco-svg #ChipMini3 {
      stroke: rgba(168, 85, 247, 0.40);
    }
    #deco-svg #ChipDeco1,
    #deco-svg #ChipInput {
      stroke: rgba(168, 85, 247, 0.35);
    }
    #deco-svg #VmText,
    #deco-svg #CompilerText,
    #deco-svg #BackendText {
      fill: rgba(168, 85, 247, 0.16);
    }
  }
</style>

<script>
  const codeLines: Array<Array<{ text: string; cls: string }>> = [
    [{ text: '// Prove a Poseidon commitment', cls: 'text-text-muted' }],
    [
      { text: 'let', cls: 'text-proof-light' },
      { text: ' secret ', cls: '' },
      { text: '=', cls: 'text-text-muted' },
      { text: ' 0p12345', cls: 'text-warn' },
    ],
    [
      { text: 'let', cls: 'text-proof-light' },
      { text: ' blinding ', cls: '' },
      { text: '=', cls: 'text-text-muted' },
      { text: ' 0p98765', cls: 'text-warn' },
    ],
    [],
    [
      { text: 'prove', cls: 'text-proof font-bold' },
      { text: ' {', cls: 'text-text-muted' },
    ],
    [
      { text: '    ', cls: '' },
      { text: 'witness', cls: 'text-info' },
      { text: ' secret', cls: '' },
    ],
    [
      { text: '    ', cls: '' },
      { text: 'witness', cls: 'text-info' },
      { text: ' blinding', cls: '' },
    ],
    [
      { text: '    ', cls: '' },
      { text: 'public', cls: 'text-valid' },
      { text: ' commitment', cls: '' },
    ],
    [
      { text: '    ', cls: '' },
      { text: 'let', cls: 'text-proof-light' },
      { text: ' cm ', cls: '' },
      { text: '=', cls: 'text-text-muted' },
      { text: ' ', cls: '' },
      { text: 'poseidon', cls: 'text-info' },
      { text: '(secret, blinding)', cls: '' },
    ],
    [
      { text: '    ', cls: '' },
      { text: 'assert_eq', cls: 'text-info' },
      { text: '(cm, commitment)', cls: '' },
    ],
    [{ text: '}', cls: 'text-text-muted' }],
  ];

  function initHeroTyping() {
    const codeEl = document.querySelector('#hero-code code') as HTMLElement | null;
    const lineNumsEl = document.getElementById('hero-line-numbers');
    const outputEl = document.getElementById('hero-output');
    if (!codeEl || !lineNumsEl || !outputEl) return;

    let lineIdx = 0;
    let spanIdx = 0;
    let charIdx = 0;
    let currentSpan: HTMLSpanElement | null = null;

    function addLineNumber() {
      const div = document.createElement('div');
      div.textContent = String(lineIdx + 1);
      lineNumsEl!.appendChild(div);
    }

    function typeNext() {
      if (lineIdx >= codeLines.length) {
        // Remove cursor
        const cursor = codeEl!.querySelector('.typing-cursor');
        if (cursor) cursor.remove();
        // Show output
        setTimeout(() => {
          outputEl!.style.opacity = '1';
        }, 400);
        return;
      }

      const line = codeLines[lineIdx];

      // Start of a new line
      if (spanIdx === 0 && charIdx === 0) {
        if (lineIdx > 0) codeEl!.appendChild(document.createTextNode('\n'));
        addLineNumber();

        // Empty line
        if (line.length === 0) {
          lineIdx++;
          setTimeout(typeNext, 100);
          return;
        }
      }

      // Start of a new span
      if (charIdx === 0) {
        currentSpan = document.createElement('span');
        if (line[spanIdx].cls) currentSpan.className = line[spanIdx].cls;
        codeEl!.appendChild(currentSpan);
      }

      const segment = line[spanIdx];
      const ch = segment.text[charIdx];

      // Remove old cursor
      const oldCursor = codeEl!.querySelector('.typing-cursor');
      if (oldCursor) oldCursor.remove();

      // Type character
      currentSpan!.textContent += ch;

      // Add cursor
      const cursor = document.createElement('span');
      cursor.className = 'typing-cursor cursor-blink inline-block w-[7px] h-[15px] bg-proof-light align-middle ml-px';
      codeEl!.appendChild(cursor);

      charIdx++;

      // Check if span is done
      if (charIdx >= segment.text.length) {
        charIdx = 0;
        spanIdx++;

        // Check if line is done
        if (spanIdx >= line.length) {
          spanIdx = 0;
          lineIdx++;
          setTimeout(typeNext, 120);
          return;
        }
      }

      // Delay: faster for spaces/symbols, slower for letters
      const delay = /\s/.test(ch) ? 15 : /[a-zA-Z0-9]/.test(ch) ? 35 : 20;
      setTimeout(typeNext, delay);
    }

    typeNext();
  }

  // Fire via IntersectionObserver with 800ms delay
  const heroSection = document.querySelector('#hero-code');
  if (heroSection) {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            observer.disconnect();
            setTimeout(initHeroTyping, 800);
          }
        });
      },
      { threshold: 0.1 }
    );
    observer.observe(heroSection);
  }
</script>

<script>
  import { gsap } from 'gsap';

  function initDecoAnimation() {
    if (window.matchMedia('(prefers-reduced-motion: reduce)').matches) return;

    const svg = document.getElementById('deco-svg');
    if (!svg) return;

    // Separate stroke paths from fill-only text paths
    const textIds = new Set(['VmText', 'CompilerText', 'BackendText']);
    const strokePaths: SVGPathElement[] = [];
    const textPaths: SVGPathElement[] = [];

    svg.querySelectorAll('path').forEach((p) => {
      if (textIds.has(p.id)) {
        textPaths.push(p);
      } else {
        strokePaths.push(p);
      }
    });

    // Phase A: Hide everything for draw-on reveal
    strokePaths.forEach((path) => {
      const len = path.getTotalLength();
      path.style.strokeDasharray = `${len}`;
      path.style.strokeDashoffset = `${len}`;
    });
    textPaths.forEach((p) => { (p as HTMLElement).style.opacity = '0'; });

    const tl = gsap.timeline({
      onComplete: () => {
        strokePaths.forEach((p) => {
          p.style.strokeDasharray = '';
          p.style.strokeDashoffset = '';
        });
        startAmbient();
      },
    });

    // Phase 1: Chips draw on — structure appears
    const chips = [
      { sel: '#ChipExt',        start: 0,    dur: 1.0 },
      { sel: '#ChipInt',        start: 0.15, dur: 0.9 },
      { sel: '#CompilerBorder', start: 0.25, dur: 0.8 },
      { sel: '#ChipMini3',      start: 0.35, dur: 0.8 },
      { sel: '#ChipDeco1',      start: 0.3,  dur: 0.7 },
      { sel: '#ChipInput',      start: 0.2,  dur: 0.5 },
    ];
    chips.forEach(({ sel, start, dur }) => {
      const el = svg!.querySelector(sel);
      if (!el) return;
      tl.to(el, { strokeDashoffset: 0, duration: dur, ease: 'power2.out' }, start);
    });

    // Phase 2: Text labels fade in
    if (textPaths.length) {
      tl.to(textPaths, { opacity: 1, duration: 0.8, stagger: 0.12, ease: 'power2.out' }, 0.7);
    }

    // Phase 3: Wires draw on — follows data flow narrative
    //   Source → Compiler → VM → Backend → Output
    const wireGroups = [
      { sel: '#InputToCompilerFromSource path', start: 1.0, dur: 1.2, stagger: 0.05 },
      { sel: '#InputToVmFromCompiler path',     start: 1.4, dur: 1.0, stagger: 0.04 },
      { sel: '#WiresFromCompiler path',         start: 1.6, dur: 1.0, stagger: 0.05 },
      { sel: '#InputToVMFromBackend path',      start: 1.6, dur: 0.9, stagger: 0.06 },
      { sel: '#InputToBackendFromVm path',      start: 1.7, dur: 0.9, stagger: 0.05 },
      { sel: '#OutputBusFromVM1 path',          start: 2.0, dur: 1.0, stagger: 0.05 },
      { sel: '#OutputBusFromVM2 path',          start: 2.2, dur: 1.4, stagger: 0.03 },
      { sel: '#OutputBusFromVM3 path',          start: 2.4, dur: 1.6, stagger: 0.025 },
      { sel: '#OutputBusFromChipDeco path',     start: 2.2, dur: 0.7, stagger: 0.06 },
    ];
    wireGroups.forEach(({ sel, start, dur, stagger: stg }) => {
      const paths = svg!.querySelectorAll(sel);
      if (!paths.length) return;
      tl.to(paths, { strokeDashoffset: 0, duration: dur, ease: 'power2.out', stagger: stg }, start);
    });

    // Phase 4: Ambient loops — alive after reveal
    function startAmbient() {
      // Chip diamond pulses — each chip cycles through a unique color palette
      const chipPulses = [
        { sel: '#ChipExt',        base: 'rgba(168,85,247,0.35)', colors: ['rgba(130,140,255,0.55)', 'rgba(200,170,255,0.55)', 'rgba(100,200,255,0.45)'], dur: 1.2, repeatDelay: 3 },
        { sel: '#ChipInt',        base: 'rgba(168,85,247,0.35)', colors: ['rgba(200,130,255,0.50)', 'rgba(120,160,255,0.50)', 'rgba(180,200,255,0.45)'], dur: 1.0, delay: 0.5, repeatDelay: 3.5 },
        { sel: '#ChipMini3',      base: 'rgba(168,85,247,0.28)', colors: ['rgba(96,165,250,0.45)', 'rgba(190,160,255,0.45)', 'rgba(45,212,191,0.35)'],   dur: 1.4, delay: 1.0, repeatDelay: 4 },
        { sel: '#CompilerBorder', base: 'rgba(168,85,247,0.28)', colors: ['rgba(220,130,255,0.45)', 'rgba(100,140,250,0.42)', 'rgba(168,85,247,0.45)'],  dur: 1.3, delay: 1.5, repeatDelay: 4 },
      ];
      chipPulses.forEach(({ sel, base, colors, dur, delay = 0, repeatDelay }) => {
        const el = svg!.querySelector(sel);
        if (!el) return;
        // Create a cycling timeline for multi-color pulses
        const pulseTl = gsap.timeline({ repeat: -1, delay, repeatDelay });
        colors.forEach((color) => {
          pulseTl.to(el, { stroke: color, duration: dur, ease: 'sine.inOut' });
          pulseTl.to(el, { stroke: base, duration: dur * 0.8, ease: 'sine.inOut' });
        });
      });

      // Traveling signals — random individual wires fire to simulate data bits
      // Color palette: metallic / electric tones
      const signalPalette = [
        'rgba(190,210,255,0.30)',  // silver-blue
        'rgba(160,230,255,0.28)',  // electric cyan
        'rgba(220,200,255,0.28)',  // lavender silver
        'rgba(255,210,160,0.22)',  // copper
        'rgba(255,230,180,0.20)',  // gold
        'rgba(200,255,220,0.22)',  // mint metallic
        'rgba(180,180,255,0.28)',  // steel blue
        'rgba(255,180,220,0.20)',  // rose gold
      ];

      const busGroups = [
        { sel: '#InputToCompilerFromSource', speed: [2.5, 4.0], interval: [0.3, 0.8], sw: 2,   w: 0.15 },
        { sel: '#InputToVmFromCompiler',     speed: [1.8, 3.0], interval: [0.4, 1.0], sw: 1.5, w: 0.12 },
        { sel: '#OutputBusFromVM1',          speed: [2.0, 3.5], interval: [0.3, 0.9], sw: 1.5, w: 0.12 },
        { sel: '#OutputBusFromVM2',          speed: [2.5, 4.5], interval: [0.2, 0.6], sw: 2,   w: 0.12 },
        { sel: '#OutputBusFromVM3',          speed: [3.0, 5.5], interval: [0.2, 0.5], sw: 1.5, w: 0.10 },
        { sel: '#WiresFromCompiler',         speed: [2.0, 3.5], interval: [0.5, 1.2], sw: 1.5, w: 0.12 },
        { sel: '#InputToVMFromBackend',      speed: [1.5, 2.5], interval: [0.6, 1.5], sw: 1.5, w: 0.14 },
        { sel: '#InputToBackendFromVm',      speed: [1.5, 2.5], interval: [0.6, 1.5], sw: 1.5, w: 0.14 },
        { sel: '#OutputBusFromChipDeco',     speed: [1.5, 2.5], interval: [0.8, 1.8], sw: 1.5, w: 0.15 },
      ];

      function rand(min: number, max: number) { return min + Math.random() * (max - min); }
      function pick<T>(arr: T[]): T { return arr[Math.floor(Math.random() * arr.length)]; }

      busGroups.forEach(({ sel, speed, interval, sw, w }) => {
        const group = svg!.querySelector(sel);
        if (!group) return;
        const paths = Array.from(group.querySelectorAll('path'));
        if (!paths.length) return;

        // Pre-create one overlay per path (reused)
        const overlays = paths.map((basePath) => {
          const overlay = basePath.cloneNode(true) as SVGPathElement;
          overlay.style.strokeWidth = String(sw);
          overlay.style.strokeLinecap = 'round';
          overlay.style.fill = 'none';
          overlay.style.stroke = 'transparent';
          overlay.style.opacity = '0';
          group.appendChild(overlay);
          return { overlay, len: basePath.getTotalLength() };
        });

        // Fire random wires at random intervals
        function fireRandom() {
          const idx = Math.floor(Math.random() * overlays.length);
          const { overlay, len } = overlays[idx];
          const color = pick(signalPalette);
          const dur = rand(speed[0], speed[1]);

          overlay.style.stroke = color;
          overlay.style.strokeDasharray = `${len * w} ${len * 2}`;
          overlay.style.strokeDashoffset = `${len}`;

          gsap.timeline()
            .set(overlay, { opacity: 1 })
            .to(overlay, { strokeDashoffset: -len, duration: dur, ease: 'none' })
            .set(overlay, { opacity: 0 });

          setTimeout(fireRandom, rand(interval[0], interval[1]) * 1000);
        }

        // Stagger initial start per group
        setTimeout(fireRandom, rand(0, 2) * 1000);
      });
    }
  }

  // Trigger on viewport entry
  const decoSvg = document.getElementById('deco-svg');
  if (decoSvg) {
    const obs = new IntersectionObserver(
      (entries) => {
        entries.forEach((e) => {
          if (e.isIntersecting) {
            obs.disconnect();
            initDecoAnimation();
          }
        });
      },
      { threshold: 0.05 }
    );
    obs.observe(decoSvg);
  }
</script>
